.card-pictures {
  position: relative;
  padding: 10px 10px;
  width: 250px;
  .img {
    position: relative;
  }
  .img-container {
    border-radius: 10px 10px 0px 0px;
    width: 100%;
    height: 170px;
    background-size: cover;
    background-position: center center;
  }
  .author {
    overflow: hidden;
    .name {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      float: left;
      color: #808080;
      font-size: 13px;
      font-style: italic;
      width: 200px;
      height: 70px;
      background-color: aliceblue;
    }
    .heart {
      justify-content: center;
      align-items: flex-end;
      align-content: center;
      background-color: aliceblue;
      height: 70px;
      display: flex;
    }
  }
  .read-more {
    background: rgba(0,0,0,0.5);
    color: #FFF;
    border: 1px solid #FFF;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 110px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    margin: -45px  0 0 -55px;
    opacity: 0;
    text-align: center;
    transition: 0.5s;
    &:hover {
      text-decoration: none;
      background: rgba(0,0,0,0.8);
    }
  } 
  &:hover {
    .read-more {
      opacity: 1;
      margin: -17px  0 0 -55px;
    }
  }
}